<footer>
    <p style="float: left;">Created By {{name}}</p>
    <a class="footerimg" href="https://github.com/tharun0120/weather-website">
        <img src="/img/githubimage.png" alt="github"> 
    </a>
</footer>
